/* ROOT */

:root {
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --white: hsl(0, 0%, 100%);
  --blue: hsl(228, 45%, 44%);
  --ff-base: 'Outfit', sans-serif;
}


/* FONT */

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body,
h1,
p,
figure {
  margin: 0;
}

img {
  max-inline-size: 100%;
  font-style: italic;
  vertical-align: middle;
}


/* BODY LAYOUT */

body {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-base);
  background-color: var(--slate-300);
}


/* CARD */

.card {
  --radius: 1.25em;

  inline-size: 20rem;
  margin-top: 4.53em;
  padding: 1.01rem 1.01rem 2.5em;
  background-color: var(--white);
  text-align: center;
  border-radius: var(--radius);
  box-shadow: 0 25px 25px hsl(from var(--slate-900) h s l/.1);

  figure {
    --radius: .625em;

    block-size: 18rem;
    aspect-ratio: 1;
    border-radius: var(--radius);
    overflow: hidden;

    img {
      transition: transform .3s ease;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  h1 {
    margin-top: 1.1em;
    font-size: 1.375rem;
    color: var(--slate-900);
    line-height: 1.2;
  }

  p {
    margin-top: 1.01em;
    padding-inline: .8em;
    font-size: .9375rem;
    color: var(--slate-500);
    letter-spacing: .2px;
    line-height: 1.4;
  }
}


/* FOOTER */

.attribution {
  padding: 2.5em 0 1.5em;
  font-size: .85rem;
  font-weight: 500;
  color: var(--slate-900);

  a {
    margin-inline: .3em;
    font-weight: 700;
    text-decoration: none;
    color: var(--blue);
    position: relative;

    &::after {
      content: '';
      inline-size: 100%;
      block-size: .11rem;
      background-color: currentColor;
      position: absolute;
      bottom: -.1rem;
      right: 0;
      transition: all .3s ease-in-out;
    }

    &:focus-visible {
      outline: 2px dotted currentColor;
      outline-offset: 2px;
    }

    &:hover::after,
    &:focus-visible::after {
      inline-size: 0;
    }
  }
}